# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datasets
dataset/
dataset_split/
eye_dataset/
mouth_dataset/

# Generated/test files
*.mp4
*.avi
*.mov
*.mkv

# Temporary files
.DS_Store
Thumbs.db